$primaryColor:white;
$secondaryColor:#95e1d3;
$pinkyColor:#f08484;
$lightColor:#f8f8f8;
$activeColor: #fce38a;
$opacityColor:rgba(255, 255, 255, 0.76);
$textmutedColor:gray;
$gradientColor:linear-gradient(135deg, #f8dc79 0%, rgba(241, 114, 114, 0.7));